* {
    font-family: 'Libre Baskerville', serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.right-header-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo-svg {
    height: 80px;
    width: 80px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.main-coffee {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.hero-left-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    width: 500px;
}

button {
    border-radius: 8px;
    border: 1px solid black;
    padding: 15px;
    background-color: #e79e62;
    cursor: pointer;
}

.card {
    width: 250px;
    border-radius: 20px;
    border: 2px solid black;
    border-style: dashed;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.img-coffee {
    width: 225px;
    height: auto;
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;
}

.type-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.card-name , .card-info {
    padding: 10px;
}

.text {
    padding: 25px;
}

.van-image {
    width: auto;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  
}

.testimonial-container {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 40px;
    margin: 30px 0;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 5px;
}

.italic-quote {
    font-size: 30px;
    font-style: italic;
}

.call-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.call-container {
    display: flex;
    flex-direction: row;
    gap: 20px;

    padding: 40px;
    background-color: rgb(255, 164, 128) ;
    border-radius: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(231, 182, 77);
}

